<div id="wrapper">
		<!-- navbar -->
		<app-header-nav></app-header-nav>
		<div class="writer-canvas">
			<div class="writer-page dark-mode">
					<div class="title-page">
						<div class="title-block">
							<div class="script-title">
								<textarea row="1" id="titleArea" name="title" [(ngModel)]="scriptTitle" maxlength="123" spellcheck="false" class="title-textarea title-center title-padder" placeholder="Title" appAutoHeight defHeight="17"></textarea>
								<p class="title-padder text-center by-margin">written by</p>
								<textarea row="1" id="authorArea" name="author" [(ngModel)]="scriptAuthor" maxlength="123" spellcheck="false" class="title-textarea title-center title-padder" placeholder="Author" appAutoHeight defHeight="17"></textarea>
							</div>
						</div>
						<div class="title-block v-spacing-half">
							<div class="script-basedOn">
								<textarea row="1" id="basedOn" name="basedOn" [(ngModel)]="scriptBasedOn" maxlength="123" spellcheck="false" class="title-textarea title-center title-padder" placeholder="Based on if any" appAutoHeight defHeight="17"></textarea>
							</div>
						</div>
						<div class="title-block v-spacing-half">
							<div class="script-revisions">
								<ul class="list-unstyled" *ngFor="let revision of revisions">
									<li>{{revision.r_color}}:   
									<span *ngIf="multipleAuthors">{{revision.name}}</span>
									({{revision.date}})</li>
								</ul>
							</div>
						</div>
						<div class="title-block">
							<div class="script-address">
								<textarea row="1" id="address" name="address" [(ngModel)]="scriptAddress" maxlength="123" spellcheck="false" class="title-textarea title-left title-padder" placeholder="Address" appAutoHeight defHeight="17"></textarea>
							</div>
						</div>
						<!-- <div class="title-block">
							<div class="script-copyright">
								<textarea row="1" id="copyright" name="copyright" [(ngModel)]="scriptAddress" maxlength="123" spellcheck="false" class="title-textarea title-left title-padder" placeholder="Address" appAutoHeight defHeight="17"></textarea>
							</div>
						</div> -->
					</div>
			</div>

			<div class="writer-page dark-mode">
				<app-script-canvas></app-script-canvas>
			</div>
		</div>
</div>