<div id="wrapper">
		<!-- navbar -->
		<app-header-nav></app-header-nav>
		<div class="writer-canvas">
			<div class="writer-page dark-mode">
					<div class="title-page">
						<textarea row="1" id="titleArea" name="title" [(ngModel)]="scriptTitle" (keypress)="countLines($event)" maxlength="123" spellcheck="false" class="title-textarea title-padder" placeholder="Title" appAutoHeight defHeight="18"></textarea>
						<p class="title-padder text-center by-margin">by</p>
						<textarea name="author" maxlength="123" spellcheck="false" class="title-textarea title-padder" placeholder="Author"></textarea>
					</div>
			</div>
		</div>
</div>