	<div id="wrapper">
		<!-- navbar -->
		<app-header-nav></app-header-nav>

		<!-- Page content -->
		<div id="page-content-wrapper">
			<!-- Keep all page content within the page-content inset div! -->
			<div class="container-fluid widget-h-100">
				<div class="row widget-h-100">
					<div class="col-md-1 widget-box widget-h-100 widget-menu">
						<h4 class="title text-center">Quick Links</h4>
						<div class="col-md-12 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-film" aria-hidden="true"></i><br>
								<h5>Film</h5>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-file-archive-o" aria-hidden="true"></i>
								<h5>Series</h5>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-bullhorn" aria-hidden="true"></i>
								<h5>Short/AD</h5>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-book" aria-hidden="true"></i>
								<h5>Novel</h5>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 project-create-link">
							<a [routerLink]="['/writer']">
								<i class="fa fa-keyboard-o" aria-hidden="true"></i>
								<h5>Quick Write</h5>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-6 widget-box widget-h-60">
						<div class="inner-wrap">
							<h3 class="title">Project List</h3>
							<div class="list-group">
							  <a href="#" class="list-group-item">
							    <i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							    Don't get caught in my eyes
							  </a>
							  <a href="#" class="list-group-item">
							  	<i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							  	Netrikan
							  </a>
							  <a href="#" class="list-group-item">
							  	<i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							  	Life's a crazy design
							  </a>
							  <a href="#" class="list-group-item">
							  	<i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							  	Agazu
							  </a>
							  <a href="#" class="list-group-item">
								  <i class="fa fa-book" aria-hidden="true"></i>&nbsp; 
								  The Idiotic five
							  </a>
							  <a href="#" class="list-group-item">
							    <i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							    Don't get caught in my eyes
							  </a>
							  <a href="#" class="list-group-item">
							  	<i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							  	Netrikan
							  </a>
							  <a href="#" class="list-group-item">
							  	<i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							  	Life's a crazy design
							  </a>
							  <a href="#" class="list-group-item">
							  	<i class="fa fa-film" aria-hidden="true"></i>&nbsp;
							  	Agazu
							  </a>
							  <a href="#" class="list-group-item">
								  <i class="fa fa-book" aria-hidden="true"></i>&nbsp; 
								  The Idiotic five
							  </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
