	<div id="wrapper">
		<!-- navbar -->
		<app-header-nav></app-header-nav>

		<!-- Page content -->
		<div id="page-content-wrapper">
			<!-- Keep all page content within the page-content inset div! -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 widget-box">
						<h3 class="title">Create Project</h3>
						<div class="col-md-3 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-file-video-o" aria-hidden="true"></i><br>
								<h5>Film</h5>
							</a>
						</div>
						<div class="col-md-3 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-file-archive-o" aria-hidden="true"></i>
								<h5>Series</h5>
							</a>
						</div>
						<div class="col-md-3 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-bullhorn" aria-hidden="true"></i>
								<h5>Short/AD</h5>
							</a>
						</div>
						<div class="col-md-3 project-create-link">
							<a href="javascript:void(0)">
								<i class="fa fa-file-word-o" aria-hidden="true"></i>
								<h5>Novel</h5>
							</a>
						</div>
					</div>
					<div class="col-md-3 widget-box">
						<div class="inner-wrap">
							tset
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
